.gamelogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 2rem;
  color: #14bdac;
  font-weight: bold;
  font-size: 2rem;
}

.table {
  color: #545454;
  width: 95%;
  height: 60%;
}

.thead {
  background-color: #14bdac;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}

.thead th {
  padding: 0.5rem;
}

.tbody {
  background-color: #14bdac;
  color: #545454;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trow {
  background-color: #0f8d80;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.1rem;
  font-size: 1rem;
}

.trow > td {
  width: 10%;
  text-align: center;
}

.btn {
  background-color: #545454;
  border: none;
  color: #0f8d80;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: #14bdac;
}

@media (min-width: 40rem) {
  .heading {
    font-size: 2.5rem;
  }

  .table {
    width: 90%;
    height: 70%;
  }

  .thead {
    font-size: 1rem;
  }

  .thead th {
    padding: 1rem;
  }

  .trow {
    padding: 0 1rem;
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.5rem;
  }
}
