.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #3a3a3a;
  width: 50%;
}

.form-group > label {
  color: #14bdac;
  font-weight: bold;
  margin: 0;
}

.form-group > input {
  border-radius: 2px;
  border: none;
  width: 55%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.btn {
  background-color: #3a3a3a;
  border: 4px solid #3a3a3a;
  border-radius: 3px;
  padding: 1rem;
  font-weight: bold;
}

.btn.primary {
  color: #14bdac;
}

.btn.primary:hover {
  background-color: #14bdac;
}

.btn.cancel {
  color: #bd2d14;
}

.btn.cancel:hover {
  background-color: #bd2d14;
}

.btn:hover {
  border: 4px solid #3a3a3a;
  color: #3a3a3a;
}
